<!DOCTYPE html>
<html ng-app>
<head>
	<title>AngularJS customer app</title>
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<!-- JavaScript libraries -->
	<script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</head>
<body>
	<div ng-controller="customerController">
		<table class="table table-bordered table-hover">
			<tr>
                <td>#</td>
				<td><div class="btn" ng-click="setOrder('firstName')">First name</div></td>
				<td><div class="btn" ng-click="setOrder('lastName')">Last name</div></td>
				<td><div class="btn" ng-click="setOrder('phone')">Phone</div></td>
				<td><div class="btn" ng-click="setOrder('email')">E-mail</div></td>
			</tr>
			<tr ng-repeat="customer in customers | orderBy :order:reverse">
                <td> {{ $index }}</td> 
                <td> <input class="form-control" type="text" name="firstName" ng-model="customer.firstName" />  </td>
                <td> <input class="form-control" type="text" name="firstName" ng-model="customer.lastName" />  </td>
                <td> <input class="form-control" type="tel" name="firstName" ng-model="customer.phone" />  </td>
                <td> <input class="form-control" type="email" name="firstName" ng-model="customer.email" />  </td>
                <td><button class="btn btn-danger" ng-click="remove($index)">Delete</button></td>
			</tr>
            <tr>
                <td colspan="6" style="text-align: center">
                    <button class="btn" ng-click="add()"> Add </button>
                </td>
            </tr>
		</table>

	</div>
	<div id="app-wrapper" ><div>
</body>
</html>